.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 20px;
  margin: 60px 5px 20px 5px;
  max-width: 600px;
  border-radius: 15px;
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}

.Weather h1 {
  font-size: 60px;
  text-align: center;
  margin: 25px; 
}

.Weather li {
    list-style: none;
    margin: 10px 45px;
    padding: 0;
    color: black;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    text-align: left;
  }

.Weather li:first-letter {
    text-transform: capitalize;
  }
  
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 50px;
    line-height: 64px;
    font-weight: 400;
    margin-left: 250px;
  }

  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 18px;
    font-weight: 350;
    position: relative;
    line-height: 3;
    top: -23px;
  }