.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px;
  margin: 5px 5px;
  max-width: 600px;
  border-radius: 15px;
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}

.Weather h1 {
  font-size: 60px;
  text-align: center;
  margin: 25px 25px 10px 50px;
}

.Weather ul {
  text-align: center;
  list-style: none;
}

.Weather li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    font-weight: 100;
    line-height: 32px;
  }
.Weather li:first-letter {
    text-transform: capitalize;
  }
  

.weather .temperature {
  color: black;
  font-size: 60px;
  line-height: 1.75;
  font-weight: 300;
}

.weather .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
